.ccontainer{
    width: 1920px;
    height: 4000px; 
    margin: 0 auto;
background-color: #171717; 
}
.header{
   margin-bottom: 110px; 
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
   
}
.logo-1{
    margin-top: 46px;
    margin-left: 210px;
}
.logotuo-text{
    width: 216px;
    height: 33px;
    
}
.logo-img{
    width: 13px;
    height: 13px;
    padding-right: 10px;
}
.logo-2{
    text-decoration: none;
    color: #E4B564;
}

.logo-text2{
    width: 218px;
    height: 50px;
    font-size: 18px;
    margin-top: 37px;
    margin-right: 230px;
    border: 2px solid#E4B564;
    display: flex;
    justify-content: center;
    align-items: center;}
    
.text-h1{
    font-size: 50px;
    margin-left: 230px;
    margin-bottom: 38px;
    color: #FFFFFF;

}
.text-p1{
    font-size: 20px;
    margin-left: 230px;
    margin-bottom: 41px;
    color: #FFFFFF;
    padding-right: 508px;
}
.gallery{
    display:grid;
    grid-template: repeat(2,450px)/repeat(6,220px);
    margin-bottom: 161px;
    margin-left: 230px;
    row-gap: 27px;
    column-gap:30px ;
    color: white;
}
.gallery-image{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0 30px ;
    box-sizing: border-box;

}
.first-one{
    grid-column-end: span 2;
    background-color: #634F2C;}
.first-two{
        grid-column-end: span 2;
        background-color:#B4A385;}
    .first{
    grid-column-end: span 2;
    background-color:#E4B564;
}
.second-three{
    grid-column-end: span 3;
    background-color:#635A4A;}
.second{
    grid-column-end: span 3; 
    background-color:#B08C4D;}

.gallery-center{
    display:grid;
    grid-template: repeat(10,73px)/repeat(3,467px); 
    justify-content: center;
    row-gap: 24px;
    column-gap: 29px;
    color: white;
    font-size: 20px;
  font-display: center;
  margin-bottom: 191px;
  

}
.text-h2{
    margin-bottom: 92px;
    font-size: 50px;
    margin-left: 230px;
    color: #FFFFFF;

}
.kamaz {
    display: flex;
    justify-content: left;
    padding: 44px 52px ;
    background-color: #0E0E0E;
    grid-row-end: span 4;
    }
.drain-cleaner{
    display: flex;
    justify-content: left;
    padding: 44px 51px ;
    background-color: #242424;
    grid-row-end: span 5;

}
.excavator-loader{
    display: flex;
    justify-content: left;
    padding: 44px 48px ;
    background-color:#1F1F1F;
    grid-row-end: span 3;
}
.kamaz-board{
    display: flex;
    justify-content: left;
    padding: 44px 48px ;
    background-color:#0E0E0E ;
    grid-row-end: span 4;
}
.loader{
    display: flex;
    justify-content: left;
    padding: 56px 52px ;
    background-color: #1F1F1F;
    grid-row-end: span 6;
}
.excavator{
    display: flex;
    justify-content: left;
    padding: 47px 52px ;
    background-color:#E4B564 ;
    grid-row-end: span 5;
    margin-bottom: 20px;
}
.skating-rink{
    display: flex;
    justify-content: left;
    padding: 44px 48px ;
    background-color: #0A0909;
    grid-row-end: span 3;
}

.text-h3{font-size: 50px;
margin-left: 230px;
margin-top: 172px;
color: #FFFFFF;
margin-bottom: 52px;
}
.menu-bottom{
    width: 180px;
    height: 50px;
    font-size: 18px; 
    text-decoration: none;
    color: #E4B564;
    border: 1px solid #E4B564;
    margin-right: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 53px;
    margin-top: 161px;
}
.bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1461px;
    margin-left: 230px;
}
.development{
    background-color: #634F2C;

}
.development::after{
content: "";
display:block;
width: 480px;
height: 390px;
background-image: url(./Image/3.1.png);
background-size: 185px 49px;
background-repeat: no-repeat;
background-position: center;
}
.mabnc{
    display: flex;
    background-color: #E8D2AB;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 28px;
    font-weight: 600;
}

.mabnc::before {order: 0;
    content:url(./Image/3.2.png)
}
.mabnc::after{order: 1;
    content: url(./Image/3.2.1.png);
    }
    .mabnc-text{
        order: 2;
        display: flex;
        justify-content: center;
        width: 326px;
        height: 140px;
        padding: 44px 76px ;
        color: #FFFFFF;
        text-align: center;
    }
.apc-haus{
    background-color: #E4B564;
}
    .apc-haus::after{
        content: "";
        display:block;
        width: 480px;
        height: 390px;
        background-image: url(./Image/3.3.png);
        background-size: 190px 42px;
        background-repeat: no-repeat;
        background-position: center;
        }
.hous-apc{
    background-color: #635A4A;
}
.hous-apc::after{
    content: "";
    display:block;
    width: 480px;
    height: 390px;
    background-image: url(./Image/3.3.png);
    background-size: 190px 42px;
    background-repeat: no-repeat;
    background-position: center;
}

.set-group{
    background-color: #B08C4D;
}
  .set-group::after{
content: "";
display:block;
width: 480px;
height: 390px;
background-image: url(./Image/3.5.png);
background-size: 119px 53px;
background-repeat: no-repeat;
background-position: center;
}
.eid{
    background-color: #634F2C;
}
.eid::after{
content: "";
display:block;
width: 480px;
height: 390px;
background-image: url(./Image/3.1.png);
background-size: 185px 49px;
background-repeat: no-repeat;
background-position: center;
}

.under-boxs{
    Width:1920px;
Height:
1054px;
background-color: #0E0E0E
    

}
 .under{
    display: flex;
    justify-content: space-between;
    align-items: center; 
       }

